language: go
go:
  - "1.13"

script:
  - ./bin/build_darwin
  - ./bin/build_linux

deploy:
  provider: releases
  api_key: $GITHUB_ACCESS_TOKEN
  file:
    - ./build/agent_linux_amd64
    - ./build/agent_darwin_amd64
  skip_cleanup: true
  on:
    tags: true